.content {
    grid-column : 2 / span 1;
    grid-row    : 2 / span 1;
    height      : 100%;
    display: flex;
    flex-direction: column;
    align-items :flex-start;
}


input[type="text"] {
    width : 300px ;  
    border-radius : 10px 0px 0px 10px; 
    height : 20px;
    border : 1px solid gray;
    padding-left: 10px;
}

input[type="text"]:focus {
    outline: none;
    border : 1px solid #008CBA
}

button{
    padding: 5px 15px 5px 15px;
    color: white;
    border: none;
    width: 100px;
} 

.delete{
    border-radius: 5px;
    background-color: #de3e44;
}
.update{
    border-radius: 5px;
    background-color: #fec001;
}

.add{
    background-color: #0081ff;
    width: 150px;
}